@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot');
    src: url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/icomoon.ttf') format('truetype'),
        url('../../fonts/icomoon.woff') format('woff'),
        url('../../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
    content: "\e600";
}
.icon-home:before {
    content: "\e000";
}
.icon-home2:before {
    content: "\e001";
}
.icon-home3:before {
    content: "\e002";
}
.icon-home4:before {
    content: "\e003";
}
.icon-home5:before {
    content: "\e004";
}
.icon-home6:before {
    content: "\e005";
}
.icon-home7:before {
    content: "\e006";
}
.icon-home8:before {
    content: "\e007";
}
.icon-home9:before {
    content: "\e008";
}
.icon-home10:before {
    content: "\e009";
}
.icon-home11:before {
    content: "\e00a";
}
.icon-office:before {
    content: "\e00b";
}
.icon-newspaper:before {
    content: "\e00c";
}
.icon-pencil:before {
    content: "\e00d";
}
.icon-pencil2:before {
    content: "\e00e";
}
.icon-pencil3:before {
    content: "\e00f";
}
.icon-pencil4:before {
    content: "\e010";
}
.icon-pencil5:before {
    content: "\e011";
}
.icon-pencil6:before {
    content:"\e012";
}
.icon-quill : before{
	content:"\ e013" ;
} 
. icon-quill2 : before{
	content:"\ e014" ;
} 
. icon-quill3 : before{
	content:"\ e015" ;
} 
. icon-pen : before{
	content:"\ e016" ;
} 
. icon-pen2 : before{
	content:"\ e017" ;
} 
. icon-pen3 : before{
	content:"\ e018" ;
} 
. icon-pen4 : before{
	content:"\ e019" ;
} 
. icon-pen5 : before{
	content:"\ e01a" ;
} 
. icon-marker : before{
	content:"\ e01b" ;
} 
. icon-home12 : before{
	content:"\ e01c" ;
} 
. icon-marker2 : before{
	content:"\ e01d" ;
} 
. icon-blog : before{
	content:"\ e01e" ;
} 
. icon-blog2 : before{
	content:"\ e01f" ;
} 
. icon-brush : before{
	content:"\ e020" ;
} 
. icon-palette : before{
	content:"\ e021" ;
} 
. icon-palette2 : before{
	content:"\ e022" ;
} 
. icon-eyedropper : before{
	content:"\ e023" ;
} 
. icon-eyedropper2 : before{
	content:"\ e024" ;
} 
. icon-droplet : before{
	content:"\ e025" ;
} 
. icon-droplet2 : before{
	content:"\ e026" ;
} 
. icon-droplet3 : before{
	content:"\ e027" ;
} 
. icon-droplet4 : before{
	content:"\ e028" ;
} 
. icon-paint-format : before{
	content:"\ e029" ;
} 
. icon-paint-format2 : before{
	content:"\ e02a" ;
} 
. icon-image : before{
	content:"\ e02b" ;
} 
. icon-image2 : before{
	content:"\ e02c" ;
} 
. icon-image3 : before{
	content:"\ e02d" ;
} 
. icon-images : before{
	content:"\ e02e" ;
} 
. icon-image4 : before{
	content:"\ e02f" ;
} 
. icon-image5 : before{
	content:"\ e030" ;  
 }  
 .icon-image6  ：之前{  
	内容："\  E031 " ;  
 }  
 .icon-images2  ：之前{  
	内容："\  E032 " ;  
 }  
 .icon-image7  ：之前{  
	内容："\  E033 " ;  
 }  
 .icon-camera  ：之前{  
	内容："\  E034 " ;  
 }  
 .icon-camera2  ：之前{  
	内容："\  E035 " ;  
 }  
 .icon-camera3  ：之前{  
	内容："\  E036 " ;  
 }  
 .icon-camera4  ：之前{  
	内容："\  E037 " ;  
 }  
 .icon-music  ：之前{  
	内容："\  E038 " ;  
 }  
 .icon-music2  ：之前{  
	内容："\  E039 " ;  
 }  
 .icon-music3  ：之前{  
	内容：“ \ E03A ”；  
 }  
 .icon-music4 ：之前{  
	内容：“ \ E03B ”；  
 }  
 .icon-music5 ：之前{  
	内容：“ \ E03C ”；  
 }  
 .icon-music6 ：之前{  
	内容：“ \ E03D ”；  
 }  
 .icon-piano ：之前{  
	内容：“ \ E03E ”；  
 }  
 .icon-guitar ：之前{  
	内容：“ \ E03F ”；  
 }  
 .icon-headphones ：之前{  
	内容：“ \ E040 ”；  
 }  
 .icon-headphones2 ：之前{  
	内容：“ \ E041 ”；  
 }  
 .icon-play ：之前{  
	内容：“ \ E042 ”；  
 }  
 .icon-play2 ：之前{  
	内容：“ \ E043 ”；  
 }  
 .icon-movie ：之前{  	
	内容：“ \ E044 ”； 	
 }
