body {
    background: #D1D1D1 url('../images/mochaGrunge.png');
    font-family: 'Lato', sans-serif;
}
#main {
    min-height: 600px;
    margin-bottom: 20px;
}
h1, h2, h3, h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}
a {
    color: #3bb9bb;
    -o-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -webkit-transition: color .2s linear;
}
a:hover {
    color: #32a0a2;
    text-decoration: none;
}
#site-header {
    background-color: #222;
    border-color: #222;
    height: 60px;
    color: #CCC;
    font-weight: 300;
}
#site-header .logo {
    line-height: 60px;
    width: 170px;
}
#site-header .logo .alt {
    color: #3bb9bb;
}
#site-header .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
#site-header .menu li {
    display: inline-block;
    padding: 0 10px;
}
#site-header .menu li a {
    line-height: 60px;
    color: #CCC;
    transition: color .2s linear;
    -o-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -webkit-transition: color .2s linear;
}
#site-header .menu li a:hover {
    line-height: 60px;
    color: #3bb9bb;
    text-decoration: none;
}
#site-bar {
    height: 40px;
    background: #4d4d4d;
    line-height: 40px;
}
#site-bar h1 {
    margin: 0; 
   padding:
   ...
